.home {

  .main {
    border-bottom: 2px dashed @navigation-border;

    @media only screen and @mobile {
      width: 92%;
      margin-left: 5%;
    }   
    
    img {
      @media only screen and @mobile {
        width: 98%;
      }  
    }

    h2 {
      margin-top: 30px;
    } 
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    @media only screen and @mobile {
        height: auto;
        flex-flow: column nowrap;
        align-items: center;
      }   
    
    .text-content {
      width: 48%;
      padding-right: 1%;

      @media only screen and @mobile {
        width: 98%;
        margin-left: 5%;
      }   
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media only screen and @mobile {
        width: 100%;
        margin-left: 5%;
      }   

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media only screen and @mobile {
      flex-direction: column-reverse;
    }   

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;

      @media only screen and @mobile {
        margin-left: 10%;
      }  
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    @media only screen and @mobile {
      width: 90%;
      margin-left: 5%;
    }   

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media only screen and @mobile {
      height: auto;
      flex-flow: column nowrap;
      align-items: center;
    }   

    .destination {
      width: 29%;
      margin-bottom: 30px;

      @media only screen and @mobile {
        width: 75%;
        margin-left: 5%;
      }   
    }

    .btn {
      .buttons(#008080, white, 16px, 80%);

      @media only screen and @mobile {
        .buttons(#17a2b8, white, 16px, 100%);
      }   
    }
  }
}// home